*{
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.img{
  width: 80%;
  margin-left: 30px;
}

.img-1{
  width: 100%;
}
.container-img{
  height: 100vh;
  background: linear-gradient( rgb(83, 0, 96) 65%, rgb(228, 10, 138));
  display: flex;
  justify-content: center;
  flex-direction: column;
}  

/* estilos register */

.margin-big{
  margin-top: 35%;
}

.container-a{
  display: flex;
  justify-content: space-between;
}

.container-a a{
  padding: 15px;
  background-color: transparent;
  color: #fff;
}

.taxi{
  background-image: url(../assets/images/taxi-grande.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.vh100{
	height: 100vh;
}

.img-banderas{
  width: 40px;
}

.back a{
  color:#F724AE;
  font-size: 45px;
  font-weight: 900;
  text-decoration: none;
}

.inline-block{
  display: inline-block;
}

.center{
  text-align: center;
}

.margin-right{
  margin-right: 20px;
}

.margin-bottom{
  margin-bottom: 30px;
}

.input{
  border:none;
  border-bottom: 2px solid #72787A  ;
  font-size: 20px;
  width: 80%;
  outline: none;
}

.span-number{
  font-size: 20px;
  margin-right: 5px;
}

.margin-button{
  margin-top: 150px;
}

.margin-top{
  margin-top: 40px;
  margin-bottom: 30px;
}

.disabled-color{
  background-color: #CDCDCE;
  font-weight: 900;
}

.enabled-color{
  background-color: #F9498A;
  font-weight: 900;
}

/* ventana verify */
.title{
  font-size: 25px;
  font-weight: 700;
}

.input-cod{
  width: 20px;
  font-size: 20px;
  border:none;
  border-bottom: 1px solid #F61F63;
  outline: none;
}

.button-reset{
  outline: none;
  background-color: #DDD7F9;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
}

/* ventana form */

.padding-right{
  padding-right: 0;
}

.padding-left{
  padding-left: 0;
}

.blue{
  color:blue;
  font-weight: 500;
}