<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
  <title>Document</title>
</head>
<body class="taxi vh100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 col-xs-push-4">
        <img src="../assets/images/logo-white.png" alt="" class="img-1">
      </div>
    </div>
    <div class="row margin-big">
      <div class="col-xs-12">
        <img src="../assets/images/logo-pink.png" alt="" class="img-1">
      </div>
    </div>
    <div class="row margin-big">
      <div class="col-xs-8 col-xs-push-2 container-a">
        <a class="btn btn-default" href="#" role="button">LOG IN</a>
        <a class="btn btn-default" href="#" role="button">SING UP</a>   
      </div>
    </div>
  </div>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../js/register.js"></script>
</body>
</html>