<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">  
    <title>Sign Up</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-2">
        <p class="back inline-block margin-right"><a href="../views/register.html"><</a></p>
      </div>
      <div class="col-xs-8 center">
          <h1 class="inline-block">Sign Up</h1>  
      </div>
    </div>
    <p class="center">Join now for free ride credit</p>
    <hr>
    <div class="row margin-top">
      <div class="col-xs-4">
          <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                <img src="../assets/images/bandera-mexico.jpg" alt="mexico" class="img-banderas" id="image-flags">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" role="menu">
                <li class="margin-bottom"><a href="#" class="center"><img src="../assets/images/bandera-colombia.png" alt="colombia" class="img-banderas" id="image-flags-1"></a></li>
                <li class="margin-bottom"><a href="#" class="center"><img src="../assets/images/bandera-peru.png" alt="peru" class="img-banderas" id="image-flags-2"></li>
                <li><a href="#" class="center"><img src="../assets/images/bandera-eu.png" alt="eu" class="img-banderas" id="image-flags-3"></a></li>
              </ul>
          </div>        
      </div>
      <div class="col-xs-8">
        <form action="">
          <span class="span-number" id="postal">52</span>
          <input type="number" class="input" id="number-phone">
        </form>
      </div>
    </div>
    <p class="center">We'll send a text to verify your phone</p>
    <button type="button" class="btn btn-default btn-lg btn-block margin-button disabled-color" id="button-next" disabled>NEXT</button>
  </div>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.js"></script>
    <script src="../js/sign.js"></script>
</body>
</html>