<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">  
    <title>Document</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">  
        <p class="back inline-block margin-right"><a href=""><</a></p>
        <h1 class="inline-block title">Verify phone number</h1>       
      </div>
    </div>
    <p class="center">Join now for free ride credit</p>
    <hr>
    <div class="col-xs-12 center margin-bottom">  
      <p class="inline-block">LAB - </p>
      <input type="text" class="inline-block input-cod" id="cod1">
      <input type="text" class="inline-block input-cod" id="cod2">
      <input type="text" class="inline-block input-cod" id="cod3">     
    </div>
    <p class="center margin-bottom">Enter the code sent</p>
    <button type="button" class="btn btn-default button-reset" id="button-reset">Resent Code</button>
    <a href="../views/form.html" class="btn btn-default btn-lg btn-block margin-button disabled-color" role="button" id="button-next-verify" disabled="disabled">NEXT</a>
  </div>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.js"></script>
  <script src="../js/sign.js"></script>
  <script src="../js/verify.js"></script>
</body>
</html>